:root {
  --main-color: #ff6868;
  --link-color: #272727;
  --p-color: #4a4a4a;
  --price-color: #515151;
  --foodname-color: #2c2c2c;
  --button-text-color: #fff;
  --font-black: #000;
  --heart-bg: #39db4a;
}
* {
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
}

body {
  font-family: "Inter", Poppins;

  background: linear-gradient(180deg, #fafafa 0%, #fcfcfc 100%);
}
.list {
  display: flex;
  list-style: none;
  align-items: center;
}
.link {
  text-decoration: none;
}
.nav-list {
  gap: 60px;
}
.nav .link {
  color: var(--link-color);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.contact-btn {
  background-color: var(--main-color);
  border-radius: 40px;
  padding: 13px 32px 13px 32px;
  color: var(--button-text-color);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  align-items: center;
  border: none;
  text-align: center;
  display: flex;

  gap: 14px;
}
.nav .logo {
  color: var(--main-color);
  font-size: 26px;
}
.nav {
  padding-top: 20px;
}
.div-btn {
  position: relative;
}
.hero .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 90vh;
}
.food {
  color: var(--main-color);
}
.hero-head {
  font-family: Inter;
  font-size: 62px;
  font-style: normal;
  font-weight: 800;
  line-height: 145.523%;
  margin-bottom: 29px;
  max-width: 100%;
  margin-left: 0;
}
.bilao .main-hero-img {
  border-radius: 50%;
  max-width: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
}
.bilao {
  width: 50vw;
  height: 100%;
  justify-content: center;
  align-items: start;
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}
.bilao .card {
  padding: 10px;
  position: absolute;

  max-width: 249px;

  flex-shrink: 0;
  background: linear-gradient(180deg, #fafafa 0%, #fcfcfc 100%);
  border-radius: 10px;
  box-shadow: 12px 5px 39px 23px rgba(0, 0, 0, 0.14);
  display: flex;

  height: 90px;
}
.bilao .first-card {
  bottom: 10%;
  left: 5%;
}
.bilao .second-card {
  bottom: 10%;
  right: 5%;
}
.card .card-list {
  list-style: none;
  margin-left: 13px;
}
.card-list .food-name {
  color: var(--foodname-color);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.card-list .price {
  font-size: 18px;
  color: var(--price-color);
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.card-list .price span {
  font-size: 14px;
  color: var(--main-color);
}
.card img {
  border-radius: 10px;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bilao-title {
  width: 50vw;
  height: 100%;
  padding-left: 10%;
  justify-content: center;
  align-items: start;
  align-content: center;
  display: flex;
  flex-direction: column;
}
.bilao-title p {
  color: var(--p-color);
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 170.5%;
  margin-bottom: 41px;
  width: 100%;
}
.bilao-title .contact-btn {
  box-shadow: -2px 22px 38px 0px rgba(255, 104, 104, 0.5);
}
.rate-stars {
  display: flex;
  padding: 5px 0 5px 0;
}
.food-lami {
  position: absolute;
  left: -7%;
  top: 9%;
}
.food-lami img {
  filter: drop-shadow(26px 22px 51px rgba(0, 0, 0, 0.14));
  fill: #fbfbfb;
}
.food-lami p {
  position: absolute;
  left: 20%;
  bottom: 60%;
  z-index: 3;
  color: #ff6868;

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.section-two .container .sec-two-list {
  display: flex;
  justify-content: center;
  gap: 38px;
}
.section-two {
  height: 80vh;
  width: 100%;
  margin-top: 70px;
}
.section-two .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.sec-two-list li {
  width: 226px;
  height: 226px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 2px 10px 30px 0px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
}
.sec-two-list li h3 {
  margin-bottom: 12px;
}
.sec-two-list li img {
  margin-bottom: 12px;
  border-radius: 50%;
}
.sec-two-list li p {
  color: #515151;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.sec-two-h6 {
  color: var(--main-color);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  margin-bottom: 29px;
}
.sec-two-h1 {
  text-align: center;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 58px;
}
.sec-menu {
  width: 100%;
  padding-bottom: 63px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec-menu .container {
  display: grid;
  width: 1158px;
  margin: auto 0;
}
.menu-title {
  text-align: center;
  margin-bottom: 63px;
}

.menu-list {
  display: flex;
  justify-self: center;
  align-content: center;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 28px;
}
.menu-list .menu-item {
  background-color: var(--button-text-color);
  box-shadow: 2px 9px 42px 0px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  /* width: 276px; */
  width: calc((100% - 28px) / 5);
  height: 256px;
  padding: 24px;
  position: relative;
  /* margin: 0; */
}

.menu-description .prod-name {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--font-black);
  margin-bottom: 10px;
}
.menu-description .prod-desc {
  color: var(--price-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 15px;
}
.menu-price {
  display: flex;
  justify-content: space-between;
}
.menu-price p {
  margin: 0;
}
.menu-item .menu-img {
  border-radius: 50%;
  background-color: greenyellow;
  width: 120px;
  height: 120px;
  overflow: hidden;
  margin-bottom: 15px;
  box-shadow: 2px 5px 9px 0px rgba(0, 0, 0, 0.4);
}
.menu-item .menu-img img {
  width: 100%;
  height: auto;
  border-radius: inherit; /* Inherit border-radius from the parent container */
  object-fit: cover;
}
.menu-price .amount {
  color: var(--font-black);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.menu-price .rate {
  color: var(--price-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.heart-div {
  position: absolute;
  width: 47px;
  height: 37.5px;
  top: 0;
  right: 0;
  text-align: center;
  padding: 3%;
  background-color: var(--heart-bg);
  border-radius: 0px 10.5px 0px 22.5px;
}
.heart-div img {
  width: 15px;

  vertical-align: middle;
}
.menu-price .amount span {
  color: #ff6868;
}
